@charset "UTF-8";


#adminView { /* 테이블이 로드되는 영역 */
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  height:600px;
}

#adminBtn{
	display: flex;
  	justify-content: center;
	
}