@charset "UTF-8";

fieldset{
	width:60%;
	text-align: center;
	
}

legend{
	width:450px;
	text-align: center;
	
}

table{
	
	border-collapse:collapse;
	border: 1px solid #66BBCC;
	table-layout:auto;
	text-align: center;
	margin-left: auto;
    margin-right: auto;

}

thead,tbody{
	border: 1px solid #ccc;
	
}

thead{
	background-color:#66BBCB;
}

th,td{
	border: 1px solid #ccc;
	padding: 10px;
	white-space: nowrap;
}



