@charset "UTF-8";

	#noticeDetail {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50vh; /* 최소 높이를 화면의 50%로 설정하여 가운데 정렬이 잘 보이도록 함 */
    }
    #noticeDetail fieldset {
        width: 80%; /* 필요에 따라 너비 조정 */
        max-width: 800px; /* 최대 너비 설정 */
    }
    #noticeDetail table {
        width: 100%;
    }

 table{
 	border-collapse:collapse;
	border: 1px solid #66BBCC;
	table-layout:auto;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
 }
 
 tr,th,td{
 	border-collapse:collapse;
	border: 1px solid #66BBCC !important;
	padding: 10px;
	white-space: nowrap;
	}