@charset "UTF-8";


#adminView { /* 테이블이 로드되는 영역 */
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: flex-start; /* 세로 가운데 정렬 */
  height:max-content;
  min-height: 500px;
}

#admin{
	display: flex;
  	justify-content: center;
  	width: 100%; /* 부모 요소의 전체 너비 차지 */
    box-sizing: border-box; /* padding, border를 width에 포함 */
	
}