<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="test.team.team_pj_lingo.admin.AdminDAO">
 
 <!-- 회원수 -->
 <select id="memberCnt" resultType="int">
 	SELECT  count(*) 
 	FROM 	member_tbl
 	WHERE	mem_status = 'member'	
 </select>
 
 <!-- 회원목록  -->
 <select id="memberList" parameterType="java.util.Map" resultType="test.team.team_pj_lingo.member.MemberDTO">
 	<![CDATA[
		SELECT mem_no, mem_id, mem_name, mem_country, mem_birthday, mem_address, mem_hp, member_reportCnt 
		, mem_rank, mem_email, mem_regdate, rn
			FROM
    		(SELECT A.*,
   				 rownum AS rn
  			   FROM
        			(SELECT * FROM member_tbl
        			  WHERE mem_status = 'member'
        			  ORDER BY mem_no )A
     			    )
        WHERE rn >= #{start} 
		  AND rn <= #{end}
		]]>	
 
 </select>
 
	 <!-- 회원탈퇴처리 -->
	 <delete id="adminMemberDelete" parameterType="int">
	 	DELETE FROM member_tbl
	 	WHERE mem_no = #{mem_no}
	 </delete>
 
 
 	<!-- 관리자 등록처리  -->
	<insert id="adminInsert" parameterType="test.team.team_pj_lingo.member.MemberDTO">
		INSERT INTO member_tbl (mem_no,mem_id,mem_pwd,mem_name,mem_country,mem_birthday,mem_address
   		 ,mem_hp,mem_email,mem_comment,mem_regdate,mem_status)
		VALUES ((SELECT NVL(MAX(mem_no)+1, 1)FROM member_tbl),#{mem_id},#{mem_pwd},#{mem_name},#{mem_country},#{mem_birthday},#{mem_address}
   		 ,#{mem_hp},#{mem_email},#{mem_comment},sysdate,#{mem_status})
	
	</insert>
	
	<!-- 전체관리자 수  -->	
	<select id="adminCount" resultType="int">
		SELECT count(*) FROM member_tbl
		WHERE mem_status = 'admin'
	</select>
	
	<!-- 관리자 목록  -->
	<select id="adminList" parameterType="java.util.Map" resultType="test.team.team_pj_lingo.member.MemberDTO">
 	<![CDATA[
		SELECT mem_no, mem_id, mem_name, mem_country, mem_birthday, mem_address, mem_hp 
		, mem_rank, mem_email, mem_regdate, rn
			FROM
    		(SELECT A.*,
   				 rownum AS rn
  			   FROM
        			(SELECT * FROM member_tbl
        			  WHERE mem_status = 'admin'
        			  ORDER BY mem_no )A
     			    )
        WHERE rn >= #{start} 
		  AND rn <= #{end}
		]]>	
 
	 </select>









	
 
 </mapper>