<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="test.team.team_pj_lingo.notice.NoticeDAO">

	<!-- 공지사항갯수  -->
 	<select id="noticeCnt" resultType="int">
		SELECT  count(*)
		FROM    notice_tbl	
 	</select>

	<!-- 공지사항 목록  -->
	<select id="noticeList" parameterType="java.util.Map" resultType="test.team.team_pj_lingo.notice.NoticeDTO">
		<![CDATA[
		SELECT notice_num, notice_title, notice_content, notice_writer, notice_readCnt, notice_regDate,rn
			FROM
    		(SELECT A.*,
   				 rownum AS rn
  			   FROM
        			(SELECT * FROM notice_tbl
        			  ORDER BY notice_num )A
     			    )
        WHERE rn >= #{start} 
		  AND rn <= #{end}
		]]>
	</select>
	
	<!-- 공지사항 작성 -->
	<insert id="insertNotice" parameterType="test.team.team_pj_lingo.notice.NoticeDTO">
		INSERT INTO	notice_tbl(notice_num,notice_title,notice_content,notice_writer,notice_regDate)
		VALUES	((SELECT NVL(MAX(notice_num)+1, 1)FROM notice_tbl),#{notice_title},#{notice_content},#{notice_writer},sysdate)	
	</insert>
	
	
	<!-- 공지사항 상제 페이지  -->
	<select id="noticeDetail" parameterType="int" resultType="test.team.team_pj_lingo.notice.NoticeDTO">
		SELECT	*
		FROM	notice_tbl
		WHERE	notice_num = #{notice_num} 
	</select>
	
	<!-- 공지사항 수정처리  -->
	<update id="updateNotice" parameterType="test.team.team_pj_lingo.notice.NoticeDTO" >
		UPDATE notice_tbl
		SET 	notice_title = #{notice_title}
		  ,		notice_content = #{notice_content}
		WHERE   notice_num = #{notice_num}  	
	
	</update>
	
	<!-- 공지사항 삭제처리  -->
	<delete id="deleteNotice" parameterType="int">
		DELETE	FROM  notice_tbl
		WHERE notice_num = #{notice_num}
	</delete> 
	
	<!-- 조회수증가 -->
	<update id="plusReadCnt" parameterType="int">
		UPDATE	notice_tbl
		SET		notice_readCnt = notice_readCnt+1
		WHERE   notice_num = #{notice_num}
	</update>

</mapper>