<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
     
<mapper namespace="test.team.team_pj_lingo.shareInfo.low.LowInfoDAO">

	<!-- 게시글목록 -->
	<select id="lowInfoList" parameterType="java.util.Map" resultType="test.team.team_pj_lingo.shareInfo.low.LowInfoDTO">
		
		<![CDATA[
		SELECT *
  FROM
    (SELECT A.*,
           rownum As rn
      FROM 
            (SELECT * FROM sharelow_tbl
                WHERE slboard_show = 'Y'  
             ORDER BY slboard_num DESC) A 
    		)
        WHERE rn >= #{start} 
		  AND rn <= #{end}
		]]>	
			  
	</select>
	
	<!-- 게시글 갯수 구하기 -->
	<select id="boardCnt" resultType="int">
		SELECT COUNT(*) AS cnt
 		  FROM sharelow_tbl
 		 WHERE slboard_show = 'Y'
	</select>
	
	<!-- 게시판 상세페이지 -->
	<select id="lowInfoDetail" parameterType="int" resultType="test.team.team_pj_lingo.shareInfo.low.LowInfoDTO">
		SELECT * FROM sharelow_tbl
 		 WHERE slboard_num = #{slboard_num}
	</select>
	
	<!-- 게시글 작성처리 -->
	<insert id="insertLowInfo" parameterType="test.team.team_pj_lingo.shareInfo.low.LowInfoDTO">
		INSERT INTO sharelow_tbl (slboard_num, slboard_content, slboard_writer, slboard_readCnt, slboard_regDate, slboard_comment_count, slboard_img)
		VALUES((SELECT NVL(MAX(slboard_num)+1, 1)FROM sharelow_tbl), #{slboard_content} ,#{slboard_writer}, 0, sysdate, 0, #{slboard_img, jdbcType=VARCHAR})
	</insert>
	
	<!-- 게시글 삭제처리 -->   
	<update id="deleteLowInfo" parameterType="int" >
	      UPDATE sharelow_tbl 
	       SET slboard_show = 'N' 
	       WHERE slboard_num = #{slboard_num}
	</update>
	
	<!-- 댓글 목록 -->
	<!-- <select id="freeCommentList" parameterType="int" resultType="test.team.team_pj_lingo.freeBoard.FreeBoardCommentDTO">
		 SELECT * 
		   FROM (
   				 SELECT A.*, 
          		 ROW_NUMBER() OVER (ORDER BY A.fb_comment_num DESC) AS rn
   				  FROM (
       				    SELECT c.*, b.fb_num
      					  FROM fb_comment_tbl c
       					  JOIN free_board_tbl b 
        					ON b.fb_num = c.fb_board_num
        				 WHERE b.fb_num = #{fb_num} 
   						 ) A
				) 
		  ORDER BY rn DESC
	</select> -->
	
	<!-- 댓글 작성 -->
	<!-- <insert id="insertComment" parameterType="test.team.team_pj_lingo.freeBoard.FreeBoardCommentDTO">
		INSERT INTO fb_comment_tbl(fb_comment_num, fb_board_num, fb_writer, fb_content, fb_regDate) 
		VALUES((SELECT NVL(MAX(fb_comment_num)+1, 1) FROM fb_comment_tbl), #{fb_board_num}, #{fb_writer}, #{fb_content}, sysdate)
	</insert>  -->
	
</mapper>