<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="test.team.team_pj_lingo.shareInfo.travel.travelBoardDAO">
	<!-- 게시판목록 -->
	<select id="travelBoardList" parameterType="java.util.Map" resultType="test.team.team_pj_lingo.shareInfo.travel.travelBoardDTO">
		<![CDATA[
		SELECT TB_NUM, TB_TITLE, TB_CONTENT, TB_WRITER, TB_PASSWORD, TB_READCNT, TB_REGDATE, 
		(SELECT COUNT(*) FROM TB_COMMENT_TBL WHERE TB_BOARD_NUM = TB_NUM) AS TB_COMMENT_COUNT, TB_SHOW, TB_IMG,TB_CATEGORY, rn
			FROM
    		(SELECT A.*,
   				 rownum AS rn
  			   FROM
        			(SELECT * FROM TRAVEL_BOARD_TBL
        			  WHERE TB_SHOW = 'Y'
        			  ORDER BY TB_NUM DESC)A
     			    )
        WHERE rn >= #{start} 
		  AND rn <= #{end}
		]]>
	</select>
	
	<!-- 게시글 갯수 구하기 -->
	<select id="boardCnt" resultType="int">
		SELECT COUNT(*) AS cnt
 		  FROM TRAVEL_BOARD_TBL
 		 WHERE TB_SHOW = 'Y'
	</select>
	
	<!-- 게시판 조회수 증가 -->
	<update id="plusReadCnt" parameterType="int">
		UPDATE TRAVEL_BOARD_TBL
  		   SET TB_READCNT = TB_READCNT +1
 		 WHERE TB_NUM = #{tb_num}
	</update>
	
	<!-- 게시글 상세 -->
	<select id="travelBoardDetail" parameterType="int" resultType="test.team.team_pj_lingo.shareInfo.travel.travelBoardDTO">
		SELECT * FROM TRAVEL_BOARD_TBL
 		 WHERE TB_NUM = #{tb_num}
	</select>
	
	<!-- 댓글 목록 -->
	<select id="travelCommentList" parameterType="int" resultType="test.team.team_pj_lingo.shareInfo.travel.travelBoardCommentDTO">
		SELECT * 
		   FROM (
   				 SELECT A.*, 
          		 ROW_NUMBER() OVER (ORDER BY A.tb_comment_num DESC) AS rn
   				  FROM (
       				    SELECT c.*, b.tb_num
      					  FROM tb_comment_tbl c
       					  JOIN travel_board_tbl b 
        					ON b.tb_num = c.tb_board_num
        				 WHERE b.tb_num = #{tb_num}
   						 ) A
				) 
		  ORDER BY rn DESC
	</select>
	
	<!-- 댓글작성처리  -->
	<insert id="insertComment" parameterType="test.team.team_pj_lingo.shareInfo.travel.travelBoardCommentDTO">
		INSERT INTO tb_comment_tbl(tb_comment_num, tb_board_num, tb_writer, tb_content, tb_regDate) 
		VALUES((SELECT NVL(MAX(tb_comment_num)+1, 1) FROM tb_comment_tbl), #{tb_board_num}, #{tb_writer}, #{tb_content}, sysdate)
	</insert>
	
	<!-- 게시글 입력처리 -->
	<insert id="insertTravelBoard" parameterType="test.team.team_pj_lingo.shareInfo.travel.travelBoardDTO">
		INSERT INTO travel_board_tbl (tb_num, tb_title, tb_content, tb_writer, tb_password, tb_readCnt, tb_regDate, tb_comment_count, tb_img, tb_category)
		VALUES ((SELECT NVL(MAX(tb_num)+1,1) FROM travel_board_tbl),#{tb_title}, #{tb_content}, #{tb_writer}, #{tb_password}, 0, sysdate, 0, #{tb_img, jdbcType=VARCHAR}, #{tb_category})
	</insert>
	
	<!-- 비밀번호 체크 -->
	<select id="password_chk" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) FROM travel_board_tbl
		 WHERE tb_num = #{tb_num}
		   AND tb_password = #{tb_password}
	</select>
</mapper>     